@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(125deg, rgba(254, 142, 152, 1) 7%, rgba(255, 197, 187, 1) 28%, rgba(255, 197, 187, 1) 75%, rgba(254, 142, 152, 1) 89%)
}

h1, h2 {
  color: white
}

.main h2 {
  margin-bottom: 12px;
}

.main {
  text-align: center;
  padding: 5rem 1rem 10rem
}

.decor {
  display: inline-block;
  margin-bottom: 10px
}

.decor img {
  /* width: 50px;
  height: 50px; */
  margin: 0 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom-control-label {
  color: #d55965;
  font-size: 1.2em;
}

.drag-area, .link-area {
  border: 2px dashed #fff;
  height: 437px;
  width: 740px;
  border-radius: 5px;
  margin-top: 10px
    /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.link-area {
  border: none
}

.image-area {
  border: 2px solid #fff;
  height: 437px;
  width: 740px;
  border-radius: 5px;
}

.drag-area.active {
  border: 2px solid #fff;
}

.icon {
  font-size: 70px;
  color: #e66e2e;
}

header {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  padding-top: 10px
}

.browse, .refresh {
  /* padding: 10px 15px; */
  font-size: 25px;
  font-weight: 500;
  border: none;
  outline: none;
  background: none;
  color: #f74353;
  border-radius: 5px;
  cursor: pointer;


}

.browse:hover, .refresh:hover {
  color: #c00918
}

.submit-btn {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #fff;
  background: #fc505e;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  /* color: red; */
  text-align: center;
}

.submit-btn:hover {

  background: #fff;
  color: #f74353;
}

.drag-area img, .image-area img, .link-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.another-file {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #f74353;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  /* color: red; */
  text-align: center;
}

.another-file:hover {
  color: #fff;
  background: #fc505e;
}

.food-brief {
  text-align: justify
}

.food-brief h2 {
  color: #f74353;
  text-align: center
}

.food-brief a {
  text-decoration: none;
  color: #f41226
}

.food-brief a:hover {

  color: #ff283a
}

#model {
  margin-top: 15px;
  margin-right: 26px;
  height: 49.6px
}
